{% extends 'base.html' %}

{% block title %}Bosh sahifa{% endblock title %}
{% block content %}
<br>
    {% if user.is_authenticated %}
        <h4 style="color: grey">{{user.username | title}}, xush kelibsiz!</h4>
<br>
        <h5>
            <a href="{% url 'logout' %}">Saytdan chiqish</a> |
            <a href="{% url 'article_list' %}">Postlar</a>
        </h5>
    {% else %}
        <p>Siz hali saytga kirmagansiz! Iltimos ro'yhatdan o'ting!</p>
        <p>
            <a href="{% url 'login' %}">Saytga kirish</a> |
            <a href="{% url 'signup' %}">Ro'yhatdan o'tish</a>
        </p>
    {% endif %}
{% endblock content %}